$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BrainFlix-Blue: #0095FF;
$BrainFlix-DarkBlue: #0065AD;
$Secondary-textColor: #AFAFAF;
$BrainFlix-Black: #323232;
$divider-color: #E1E1E1;

$button-font: 0.75rem;

$mobile-margin: 0 1rem 0 1rem;
$tablet-margin: 0 2rem 0 2rem;