@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

.comments{
    
    &__container{
        border-top: 1px solid $divider-color;
        display: flex;
    
        @include desktop {
            padding-top: 1rem;
        }
    }
    
    &__container:nth-last-child(1){
        border-bottom: 1px solid $divider-color;
    
        @include desktop {
            border-bottom: none;
        }
    }
        
    
    &__picture{
        background-color: $divider-color;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin: 1rem 0 0 0;
    
        @include desktop{
            margin-right: 1.5rem;
        }
    
    }
    
    &__comment-info{
        width: 100%;
        padding-left: 1rem;
    }
    
    &__name-date{
        display: flex;
        justify-content: space-between;
    }
    
    &__name{
        font-weight: 700;
    
    
    }
    
    &__date{
        color: $Secondary-textColor;
    
        @include desktop{
            margin-right: 1rem;
        }
    }
    
    &__comment{
        margin-top: 0;
    
        @include desktop{
            margin-right: 1rem;
        }
    }
}

