@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

.app{

    &__container{

         @include desktop{
        display: flex;
        padding: 0 6.5rem;
        }
    }
   
    
    &__info-form{

        @include desktop{
           border-right: 1px solid $divider-color;
           
        }
        
    }

}
